body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-main {
    @apply h-7 w-7 inline mr-2 text-white cursor-pointer;
  }

  .filter {
    @apply w-11/12 bg-gradient-to-r from-blue-300 to-blue-500 rounded-md h-max p-3 flex flex-col mt-2 mb-2;
  }

  .filter-title {
    @apply text-xs sm:text-lg p-1 flex justify-between items-center font-outfit;
  }
}